/* header */
.header{
    display: flex;
    padding-left: 22px;
    height: 68px;
    background: #fff;
    border-bottom:1px solid #e6e6e6;
    align-items: center;
}
.header-logo{background: url(./assets/ico-logo@2x.png) no-repeat;background-size: 163px 36px;width: 163px;height: 36px;}
