/* navigation */
.nav{
    background:#fff;
    width:80px;
    float:left;
    padding-top:140px;
    height: calc(100% - 68px);
    display: flex;
    flex-direction: column;
}

.nav span {
    display: flex;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.nav span.clicked {
    background-color: #f0f1f6;
    cursor: auto;
}

.nav span:hover {
    background-color: #f0f1f6;
}

.nav span img{
    margin: 0 auto;
}

.nav .nav-logo {
    flex-grow: 3;
}
