main.comming-soon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #adadad;

}